---
import Layout from "../layouts/Layout.astro";
import IntroScreen from "../components/IntroScreen.astro";
import Desktop from "../components/Desktop.astro";
---

<Layout
	title=""
	description=""
	keywords=""
	canonicalURL=""
	robots="index, follow"
>
    <!-- Intro Screen Component -->
    <IntroScreen />

    <!-- Desktop Component -->
    <Desktop />
        

     </div>

<script src="/orangeOS.js" is:inline></script>
</Layout>