---
import Layout from "../layouts/Layout.astro";
import IntroScreen from "../components/IntroScreen.astro";
import Desktop from "../components/Desktop.astro";
---

<Layout
	title="OrangeOS - Retro Operating System & Memecoin Experience"
	description="Experience the nostalgic charm of a retro operating system with OrangeOS. A unique memecoin project featuring a fully functional Windows 95-style interface, complete with desktop apps, file management, and community features."
	keywords="OrangeOS, memecoin, cryptocurrency, retro OS, Windows 95, desktop experience, blockchain, crypto token, meme coin, orange token, retro computing, web3, DeFi"
	canonicalURL="https://orangeos.io"
	robots="index, follow"
>
    <!-- Intro Screen Component -->
    <IntroScreen />

    <!-- Desktop Component -->
    <Desktop />
        

     </div>

<script src="/orangeOS.js" is:inline></script>
</Layout>