---
import Layout from "../layouts/Layout.astro";


---


<Layout
	title="$BARRON - BARRON TRUMP MEMECOIN"
	description="Join the ultimate sigma male movement with $BARRON. The first memecoin dedicated to Barron Trump, the most based zoomer and future leader. Experience the power of pure sigma energy on Solana."
	keywords="Barron Trump, memecoin, sigma male, solana, cryptocurrency, trump family, based zoomer, sigma mindset, crypto memes, solana token, $BARRON, future president, gigachad barron"
	canonicalURL="https://barrontrumpmeme.fun"
	robots="index, follow"
>
	<main class="bg-black bg-cover bg-center min-h-screen text-white py-4 flex flex-col pt-20  items-center justify-between">
	  <img src="/sigmabarron.jpeg" class="object-cover h-64 sm:h-96"/>
	  <h1 class="font-['TimesNewRoman'] font-light text-4xl sm:text-6xl text-white tracking-wider -mt-16 sm:mt-4 text-center px-4 leading-tight">
		BARRON TRUMP MEME
	  </h1>
	  <p class="font-['TimesNewRoman'] text-base sm:text-lg text-white/80 italic tracking-widest fade-in-out -mt-6">
		"Did it for the culture"
	  </p>
	  <div class=' p-3 rounded-2xl flex justify-center gap-8'>


		<a href='https://jup.ag/swap/SOL-ECY31gWwxy4s2VnMkYhmqDkrV75KrwR2yTtsnrnSpump' class=" w-12 sm:w-20 rounded-xl p-2 hover:scale-105 transition-all ">
			<img src="/jupiter2.png"/>
		</a>

		<a href='https://dexscreener.com/solana/ECY31gWwxy4s2VnMkYhmqDkrV75KrwR2yTtsnrnSpump'class=" w-12 sm:w-20 rounded-xl p-2 hover:scale-105 transition-all  ">
          <img src="/unnamed.png" class="rounded-full"/>
		</a>

		<a href='https://t.me/tempbarronportal' class="  w-12 sm:w-20 rounded-xl p-2 hover:scale-105 transition-all  ">
			<img src="/telegram2.svg" class="rounded-full"/>

		</a>

		<a href='https://x.com/' class=" w-12 sm:w-20 rounded-xl p-2 hover:scale-105 transition-all ">
			<img src="/x2.jpeg" class="rounded-full"/>
		</a>

	  </div>
	  
	</main>
</Layout>

<style></style>
