---
// Componente de iconos del escritorio
---

<!-- Desktop Icons -->
<div class="absolute top-4 left-4 space-y-6 z-10">
  <div class="desktop-icon flex flex-col items-center cursor-pointer hover:bg-gray-100 p-2 rounded" data-app="mycomputer">
    <img src="/folders/files.png" class="w-20 h-20 flex items-center justify-center mb-1" />
    <span class="text-black text-xs text-center font-semibold">Files</span>
  </div>
  
  <div class="desktop-icon flex flex-col items-center cursor-pointer hover:bg-gray-100 p-2 rounded" data-app="recycle">
    <img src="/folders/trash.png" class="w-20 h-20 flex items-center justify-center mb-1" />
    <span class="text-black text-xs text-center font-semibold">Trash</span>
  </div>
  
  <div class="desktop-icon flex flex-col items-center cursor-pointer hover:bg-gray-100 p-2 rounded" data-app="internet">
    <img src="/folders/internet.png" class="w-20 h-20 flex items-center justify-center mb-1" />
    <span class="text-black text-xs text-center font-semibold">Internet Explorer</span>
  </div>
  
  <div class="desktop-icon flex flex-col items-center cursor-pointer hover:bg-gray-100 p-2 rounded" data-app="notepad">
    <img src="/folders/notepad.png" class="w-20 h-20  flex items-center justify-center mb-1" />
    <span class="text-black text-xs text-center font-semibold">Text Editor</span>
  </div>
</div>

<!-- Memecoin Folders -->
<div class="absolute top-4 right-4 space-y-6 z-10">
  <div class="desktop-icon flex flex-col items-center cursor-pointer hover:bg-gray-100 p-2 rounded" data-app="dexscreener">
    <img src="/social/dexscreener-black.png" class="w-12 h-12 flex items-center justify-center mb-1"/>
    <span class="text-black text-xs text-center font-semibold">DexScreener</span>
  </div>
  
  <div class="desktop-icon flex flex-col items-center cursor-pointer hover:bg-gray-100 p-2 rounded" data-app="twitter">
    <img src="/social/x-black.png" class="w-12 h-12 bg-white flex items-center justify-center mb-1" />
    <span class="text-black text-xs text-center font-semibold">x.com</span>
  </div>
</div>