---
// Componente del escritorio principal
import Taskbar from './Taskbar.astro';
import StartMenu from './StartMenu.astro';
import ApplicationWindows from './ApplicationWindows.astro';
---

<!-- Main screen - Windows XP style desktop -->
<div id="main-screen" class="hidden min-h-screen bg-[url('/goat.gif')] bg-left bg-cover w-screen bg-white relative overflow-hidden">

  
  <!-- Taskbar -->
  <Taskbar />
  
  <!-- Start Menu -->
  <StartMenu />

</div>

<style>
  @keyframes goatMove {
    0% { left: -60px; }
    100% { left: calc(100% + 60px); }
  }

  .animate-goat {
    animation: goatMove 8s linear infinite;
  }
</style>