---

---

<footer class="bg-black/90 text-white border-t ">
    <section class="max-w-xl mx-auto p-4">
        <p>
            <i class="material-icons">rocket_launch</i> Get started with Astro today at <a
                href="https://astro.build/"
                target="_blank">https://astro.build/</a
            >.
        </p>
    </section>
</footer>
<style>
	
</style>